*{
        list-style: none;
}
 .contenedor-homeProductos{
  background: white;
    padding: 10px 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

 }