.contenedortexto{
    margin-top:150px;
    margin-left: 150px;
    margin-right: 150px;
}

.cookiefirst-policy-age{
    margin-left:150px;
}

.cookiefirst-cookies-table{
    margin-left:150px;
}